@import 'libs';
@import 'fonts';
@import 'vars';

html,
body {
  height: 100%;
}

html {
  font-size: 12px;
  scroll-behavior: smooth;
}

@screen mdp {
  html {
    font-size: 14px;
  }
}

@screen xl {
  html {
    font-size: 16px;
  }
}

@screen xxl {
  html {
    font-size: 18px;
  }
}

body {
  position: relative;
  min-width: 320px;
  overflow-x: hidden;
  font-family: $default-font;
}

// Selection
*::selection {
  color: $white;
  text-shadow: none;
  background: $selection;
}

// Scrollbar
* {
  scrollbar-width: thin;
  scrollbar-color: #333 #fff;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #fff;
}

*::-webkit-scrollbar-thumb {
  border: 1px solid #fff;
  background-color: #333;
}
