$default-font: 'Open Sans Condensed Light', sans-serif;
$black: #000;
$almost-black: #222;
$white: #fff;
$almost-white: #fefefe;
$middle-gray: #666;
$accent: #4e32a4;
$selection: #666;
$input-warning: #e21084;
